<app-manager-navbar></app-manager-navbar>

<mat-card>
  <mat-card-content>
    <div class="image-container">
      <img mat-card-image src="../../../assets/images/protech.png" alt="ProTechSuite">
      <span class="overlay-text">ProTechSuite</span>
    </div>
  </mat-card-content>
</mat-card>

<div class="centered-section">
  <mat-card class="custom-card">
    <mat-card-content>
      <p>Your journey to knoeledge begains us.Our platform offers a seamless project creation,project proposal creation
        and quick approval!
      </p>
    </mat-card-content>
  </mat-card>
</div>

<footer class="footer">
  <div class="footer-content">
    <h3>Contact Us</h3>
    <p>Email: <a href="mailto:example@example.com">example.com</a></p>
    <p>Phone: +123 456 7890</p>
  </div>
</footer>

<p>Contact Us</p>
