<!-- <app-my-project-proposal></app-my-project-proposal> -->
<!-- <app-login></app-login> -->
<!-- <app-manager-navbar></app-manager-navbar> -->
<!-- <app-project-form></app-project-form> -->
<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true">
</ngx-spinner> -->

<ngx-spinner>
<div class="newtons-cradle">
<div class="newtons-cradle__dot"></div>
<div class="newtons-cradle__dot"></div>
<div class="newtons-cradle__dot"></div>
<div class="newtons-cradle__dot"></div>
</div>
</ngx-spinner>


<router-outlet></router-outlet>
<!-- <app-view-project></app-view-project> -->

